/* Global overrides */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Layout */
.col-6 {
    width: 50%;
    display: inline-block;
    float: left;
}

/* Background */
body {
    overflow: hidden;
    margin: 0;
}
#content {
    width: 1450px;
    max-width: 1450px;
    height: 905px;
    max-height: 905px;
    background-color: #000
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 1450px;
    max-height: 905px;
    display: block;
    object-fit: cover;
    background-color: #000000;
}

/* Components */
.action {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: darkorange;
    border: navajowhite;
    border-radius: 5px;
    color: white;
}
.action:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.main-nav {
    width: 60%;
    padding: 40px;
    text-align: center;
    display: inline-block;
    margin: 20px 10% 20px 10%;
    text-decoration: none;
    font-size: 28px;
    font-family: "Mooli", sans-serif;
}
.ui-widget-header {
    font-weight: bold;
}
.ui-helper-reset {
    margin: 0;
    line-height: 1.3;
}
.ui-tabs-nav {
    padding-inline-start: 0;
    height: 40px;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
}
.ui-tabs .ui-tabs-nav li:not(:first-child) {
    margin-left: 0.2em;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor  {
    cursor: text;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}
.ui-tabs {
    padding: 0.2em;
}
.ui-tabs .ui-tabs-panel {
    padding: 0.6em;
    margin-top: 5px;
    height: calc(100% - 40px);
}

/* Coverflow */
.ui-coverflow-wrapper{
    position: fixed;
    height: 270px;
    width: 730px;
    left: 370px;
    top: 110px;
}
.ui-state-active{
    border: 0;
}
#coverflow > .album {
    width: 300px;
}

/* Buttons */
#actions {
    position: relative;
}
.cover-button {
    position: absolute;
    top: 226px;
    height: 64px;
    width: 148px;
}
.cover-button.top {
    left: 676px;
    top: 55px;
    width: 110px;
    height: inherit;
}
.cover-button.left {
    left: 161px;
}
.cover-button.right {
    right: 157px;
}
.cover-button.active {
    box-shadow: 8px 10px 5px lightblue;
    border-radius: 10px;
}

/* Sider */
#slider {
    position: fixed;
    height: 24px;
    width: 695px;
    top: 394px;
    left: 395px;
}
#slider .slider-button {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: inherit;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider .slider-button::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #771708;
    cursor: pointer;
    border-radius: 100%;
}

#slider .slider-button::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #771708;
    cursor: pointer;
    border-radius: 100%;
}

/* Info Panel */
.info-panel-wrapper {
    position: fixed;
    background-color: transparent;
    width: 720px;
    height: 278px;
    perspective: 1000px;
    top: 428px;
    left: 373px;
    border-radius: 0 0 40px 40px;
}
.info-panel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.info-panel-wrapper.show-back .info-panel-inner {
    transform: rotateY(180deg);
}
.info-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #eeeeee;
}
.info-panel.front {
}
.info-panel.back {
    transform: rotateY(180deg);
}
.info-panel-header {
    font-family: "Mooli", sans-serif;
    font-size: 24px;
}

/* Info Bars */
.info-bar {
    position: fixed;
    z-index: 99;
}
.info-bar.top {
     width: 1235px;
     height: 35px;
     top: 770px;
     left: 105px;
 }
.info-bar.bottom {
    display: grid;
    grid-template-columns: 1fr 1rem 1fr 1rem 1fr;
    /*grid-gap: 1rem;*/
    width: 1310px;
    height: 27px;
    top: 826px;
    left: 75px;
}
.info-text {
    display: flex;
    height: 100%;
    color: #eeeeee;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "Mooli", sans-serif;
}
.info-bar.bottom  .info-text-separator {
    display: flex;
    color: #eeeeee;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.position {
    border-collapse: collapse;
    height: 24px;
    width: 36px;
    margin-left: 15px;
}
.position .cell {
    border: 1px solid #eeeeee;
}
.position .cell.selected {
    background-color: #eeeeee;
}
#debug {
    position: absolute;
    top: 880px;
    right: 15px;
    color: white;
    font-size: 24px;
}

/* Filters */
.filter-table {
    height: 100%;
}
#filter-type-row {
    height: 30px;
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 80px
}
.form-control {
    font-family: system-ui, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    text-align: left;
}
.filter-type {
    -webkit-appearance: none;
    appearance: none;
    background-color: #eee;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
.filter-type:before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #F08C26;
}
.filter-type:checked:before {
    transform: scale(1);
    background-color: CanvasText;
}
#filter-tabs {
    height: calc(100% - 30px);
    color: #eeeeee;
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#filter-tabs .ui-tabs-nav {
    display: grid;
    grid-template-columns: 0 1fr 1fr 1fr;
}
#filter-tabs .ui-tabs-nav .ui-tabs-tab {
    background-color: #d0700e;
    border-radius: 15px 15px 0 0;
}
#filter-tabs .ui-tabs-nav .ui-tabs-tab a {
    display: inline-block;
    font-size: 20px;
    color: #eeeeee;
    width: 100%;
}
#filter-tabs .ui-tabs-nav .ui-tabs-tab.ui-tabs-active {
    background-color: #FFCA32;
}
#filter-tabs .ui-tabs-nav .ui-tabs-tab.ui-tabs-active a {
    color: #000;
}
#filter-tabs .ui-tabs-panel {
    border: 5px solid #FFCA32;
    border-radius: 0 0 40px 40px;
}
.filter-options {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 100%;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-flex-flow: wrap;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
    justify-content: space-between;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.filter-options::-webkit-scrollbar {
    display: none;
}
.filter-options .filter-option, .filter-options .filter-option-all {
    display: inline-block;
    border: none;
    font-size: 18px;
    color: #eeeeee;
    background-color: #d0700e;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.filter-options .filter-option[data-active="1"], .filter-options .filter-option-all[data-active="1"] {
    background-color: #FFCA32;
    color: #000000;
    order: 0 !important;
}

/* Add */
#add-album fieldset {
    max-width: 1000px;
    font-family: "Mooli", sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
}
#add-album .album-info {
    padding: 20px;
}
#add-album .album-info label {
    width: 120px;
    display: inline-block;
}
#add-album .album-info input {
    width: 800px;
    font-family: "Mooli", sans-serif;
    font-size: 26px;
}

/* Covers */
#album-covers-table .album {
    width: 200px;
}
#album-covers-table .album .album-info {
    display: block;
}
#album-covers-table .album .album-info .purchase-date {
    border: darkorange 1px solid;
    padding: 1px 1px 1px 5px;
    border-radius: 2px;
}
#album-covers-table .album .album-info .album-genre-select {
    display: block;
    width: 90%;
    margin-top: 5px;
    border-color: darkorange;
}
#album-covers-table .album .purchase-date {
    padding: 5px;
    width: 75px;
    border: none;
}
#album-covers-table .covers {
    width: calc(100% - 400px);
    position: relative;
}
#album-covers-table .covers .nav {
    position: absolute;
    top: 63px;
    z-index: 1;
    font-size: 24px;
    transition: box-shadow .3s;
}
#album-covers-table .covers .nav:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#album-covers-table .covers .nav.nav-prev {
    left: -30px;
}
#album-covers-table .covers .nav.nav-next {
    right: 20px;
}
#album-covers-table .covers .cover-options {
    width: calc((100% - 20px) / 5);
    display: inline-block;
}
#album-covers-table .covers .cover-options .album-info {
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
}
#album-covers-table input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.album-image, #album-covers-table input:active +.album-image{opacity: .9;}
.album-image, #album-covers-table input:checked +.album-image{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.album-image{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    min-height:150px;
    width: 100%;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.album-image:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}