/* Layout */
.col-6 {
    width: 50%;
    display: inline-block;
    float: left;
}

/* Background */
body {
    overflow: hidden;
    margin: 0;
}
#content {
    width: 1450px;
    max-width: 1450px;
    height: 900px;
    max-height: 900px;
    background-color: #000
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 1450px;
    max-height: 900px;
    display: block;
    object-fit: cover;
    background-color: #000000;
}

/* Components */
.action {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: darkorange;
    border: navajowhite;
    border-radius: 5px;
    color: white;
}
.action:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.main-nav {
    width: 60%;
    padding: 40px;
    text-align: center;
    display: inline-block;
    margin: 20px 10% 20px 10%;
    text-decoration: none;
    font-size: 28px;
    font-family: "Mooli", sans-serif;
}

/* Header */
.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    font-family: "Mooli", sans-serif;
}

/* Coverflow */
.ui-coverflow-wrapper{
    position: fixed;
    height: 270px;
    width: 730px;
    left: 370px;
    top: 110px;
}
.ui-state-active{
    border: 0;
}
#coverflow > img {
    width: 300px;
}

/* Add */
#add-album fieldset {
    max-width: 1000px;
    font-family: "Mooli", sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
}
#add-album .album-info {
    padding: 20px;
}
#add-album .album-info label {
    width: 120px;
    display: inline-block;
}
#add-album .album-info input {
    width: 800px;
    font-family: "Mooli", sans-serif;
    font-size: 26px;
}

/* Covers */
#album-covers-table .album {
    width: 200px;
}
#album-covers-table .album .album-info {
    display: block;
}
#album-covers-table .album .album-info .purchase-date {
    border: darkorange 1px solid;
    padding: 1px 1px 1px 5px;
    border-radius: 2px;
}
#album-covers-table .album .album-info .album-genre-select {
    display: block;
    width: 90%;
    margin-top: 5px;
    border-color: darkorange;
}
#album-covers-table .album .purchase-date {
    padding: 5px;
    width: 75px;
    border: none;
}
#album-covers-table .covers {
    width: calc(100% - 400px);
    position: relative;
}
#album-covers-table .covers .nav {
    position: absolute;
    top: 63px;
    z-index: 1;
    font-size: 24px;
    transition: box-shadow .3s;
}
#album-covers-table .covers .nav:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#album-covers-table .covers .nav.nav-prev {
    left: -30px;
}
#album-covers-table .covers .nav.nav-next {
    right: 20px;
}
#album-covers-table .covers .cover-options {
    width: calc((100% - 20px) / 5);
    display: inline-block;
}
#album-covers-table .covers .cover-options .album-info {
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
}
#album-covers-table input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.album-image, #album-covers-table input:active +.album-image{opacity: .9;}
.album-image, #album-covers-table input:checked +.album-image{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.album-image{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    min-height:150px;
    width: 100%;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.album-image:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}